footer.footer
  a.footer__link(href='/nous-contacter', title='Notre adresse')
    i.fa.fa-map-marker
    | 12, Rue Constantin Meunier 1348 Louvain-la-Neuve
  a.footer__link(href='mailto:info@louvainlinux.org', title='Notre email')
    i.fa.fa-envelope
    | info@louvainlinux.org

  .footer__icons
    a.facebook(href='https://www.facebook.com/LouvainliNuxKap', title='Facebook', target='_blank')
      i.fa.fa-facebook
    // a.twitter(href='https://www.facebook.com/LouvainliNuxKap', title='Twitter', target='_blank')
      i.fa.fa-twitter
    a.github(href='https://github.com/louvainlinux', title='Github', target='_blank')
      i.fa.fa-github
    // a.google-plus(href='https://www.facebook.com/LouvainliNuxKap', title='Google+', target='_blank')
      i.fa.fa-google-plus
