header.header
  div#header__icon.header__icon
    span
    svg(x='0', y='0', width='54px', height='54px', viewBox='0 0 54 54')
      circle(cx='27', cy='27', r='25')

  a.header__logo(href='/', title='Louvain-li-Nux')
    img(src='/images/logo.png', alt='Tux')
    span Louvain-li-Nux

  nav.menu
    ul
      li #[a.menu__link(href='/', title='Accueil') Accueil]
      li
        span.menu__link Le projet
        ul
          li #[a.menu__sublink(href='/projet/a-propos', title='Qui sommes-nous ?') Qui sommes-nous ?]
          li #[a.menu__sublink(href='/projet/membres', title='Membres') Membres]
          li #[a.menu__sublink(href='/projet/faq', title='Foire aux questions') Foire aux questions]
          li #[a.menu__sublink(href='/projet/fiches-info', title='Fiches-Info') Fiches d'information]
      li
        span.menu__link Activités
        ul
          li #[a.menu__sublink(href='/activites/install-party', title='Install Party') Install Party]
          li #[a.menu__sublink(href='/activites/atelier-latex', title='Atelier LaTeX') Atelier LaTeX]
          li #[a.menu__sublink(href='/activites/atelier-git', title='Atelier Git') Atelier Git]
          li #[a.menu__sublink(href='/activites/atelier-gimp', title='Atelier Gimp') Atelier Gimp]
          li #[a.menu__sublink(href='/activites/game-jam', title='Game-Jam') Game-Jam]
          li #[a.menu__sublink(href='/activites/nam-ip', title='NAM-IP') NAM-IP]
          li #[a.menu__sublink(href='/activites/geekparty', title='GeekParty') GeekParty]
          li #[a.menu__sublink(href='/activites/semaine-wiki', title='Semaine Wikipédia') Semaine Wikipédia]
          li #[a.menu__sublink(href='/activites/conferences', title='Conférences') Conférences]
      li
        span.menu__link(href='/', title='Services') Services
        ul
          li #[a.menu__sublink(href='/services/permanences', title='Permanences') Permanences]
          li #[a.menu__sublink(href='/services/locations', title='Location informatique') Locations informatique]
          //-li #[a.menu__sublink(href='/services/vote-sms', title='Système de vote par SMS') Système de vote par SMS]
      li #[a.menu__link(href='/nous-contacter', title='Nous contacter') Nous contacter]
      li #[a.menu__link(href='/dates-importantes', title='Dates Importantes') Dates importantes]
