/* ressources/assets/stylus//base/config.styl
 *
 * Copyright (C) 2017 Denis Pettens <denis.pettens@gmail.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* ==========================================================================
   Configurations rules
   ========================================================================== */

// Grid system
$container-width = 1200px
$container-padding = 30px

// Breakpoints for media queries
$mobile = 340px
$mobile-landscape = 568px
$tablet = 768px
$desktop = 1024px

// Size
$element-margin = 25px
$border-radius = 6px

// Transition
$transition-duration = 0.5s

// Colors
$skin-color = #eb9900
$skin-color-darken = darken($skin-color, 40%)
$skin-alternative-color = #546e7a
$skin-alternative-color-darken = #37474F
$background-color = #ffffff
$menu-mobile-color = $skin-alternative-color-darken
$font-color = #333333

$facebook = #3b5998
$twitter =  #00aced
$google-plus = #d34836
$github = #6e5494

// Fonts
$font-open-sans = 'Open Sans', sans-serif
$font-source-sans-pro = 'Source Sans Pro', sans-serif
$font-size = 16px
$line-height = 1.4
