/* ressources/assets/stylus//base/mixins.styl
 *
 * Copyright (C) 2017 Denis Pettens <denis.pettens@gmail.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

alert-color(gradient-color-start , gradient-color-end, border-color, color = false)
    background gradient-color-start
    background gradient-color-end linear-gradient(180deg, gradient-color-start, gradient-color-end) repeat-x
    border-color border-color

    unless color
        color color

social-color(name, color)
    &.{name}:hover
        color color
