/*
 * louvainlinux-site
 * GPL-3.0 License
 */

/* ==========================================================================
   PLUGINS
   ========================================================================== */

@import 'jeet'

/* ==========================================================================
   BASE
   ========================================================================== */

// Configurations rules
@import './base/config.styl'

/* TODO: Refactoring transition for default duration of 0.5s */

// Mixins rules
@import './base/mixins.styl'

// Normalize.css
normalize-css()

// Base rules
@import './base/base.styl'

/* ==========================================================================
   lAYOUT
   ========================================================================== */

// Header rules
@import './layout/header.styl'

// Content rules
@import './layout/main.styl'

// Footer rules
@import './layout/footer.styl'

/* ==========================================================================
   MODULE
   ========================================================================== */

// Menu rules
@import './module/menu.styl'

// Sidebar rules
@import './module/sidebar.styl'

// Slider rules
@import './module/slider.styl'

// Home rules
@import './module/home.styl'
