/* ressources/assets/stylus/app.styl
 *
 * Copyright (C) 2018 Louvain-li-Nux <info@louvainlinux.org>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* ==========================================================================
   PLUGINS
   ========================================================================== */

@import 'jeet'

/* ==========================================================================
   BASE
   ========================================================================== */

// Configurations rules
@import './base/config.styl'

/* TODO: Refactoring transition for default duration of 0.5s */

// Mixins rules
@import './base/mixins.styl'

// Normalize.css
normalize-css()

// Base rules
@import './base/base.styl'

/* ==========================================================================
   lAYOUT
   ========================================================================== */

// Header rules
@import './layout/header.styl'

// Content rules
@import './layout/main.styl'

// Footer rules
@import './layout/footer.styl'

/* ==========================================================================
   MODULE
   ========================================================================== */

// Menu rules
@import './module/menu.styl'

// Sidebar rules
@import './module/sidebar.styl'

// Slider rules
@import './module/slider.styl'

// Home rules
@import './module/home.styl'
