/* ressources/assets/stylus/layout/main.styl
 *
 * Copyright (C) 2018 Louvain-li-Nux <info@louvainlinux.org>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.main
    flex 1 0 auto
    margin $element-margin 0
    clearfix()

.main__content
    stack()

    a
        link($skin-color)

// Contact rules

.contact
    p
        text-align justify

    a
        link($skin-color)

.openstreetmap
    position relative
    margin $element-margin 0
    padding-bottom 47.5%
    height 0
    overflow hidden

.openstreetmap iframe
    position absolute
    top 0
    left 0
    width 100% !important
    height 100% !important

+above($desktop)
    .main__content
        unstack()
        column(2/3)

// Error rules

.page-error
    h1
        margin-bottom 10px
        font-size 7em
        text-align center

    h2
        text-align center
        font-size 3em
        margin-top 10px
