extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Atelier LaTeX'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/latex-logo.jpg' alt='Logo LaTeX')

    h1 #{title}

    p Cours pour initier les débutants au logiciel de composition de document libre LaTeX.

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
