extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Atelier Git'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/git-banner.jpg' alt='Git')

    h1 #{title}

    p Atelier d'initiation à Git, l'incontournable outil de versioning.

    p Le prochain atelier-latex aura lieu #[strong le jeudi premier mars 2018 au CANDIX].  
    
    p L'inscription est obligatoire, pour des questions d'organisation (c'est 100% gratuit, et vous pouvez vous désinscrire à tout moment en nous envoyant un mail).  #[a(href='') Inscription en préparation].

    P Télécharger les slides utilisés durant la scéance : #[a(href='https://raw.githubusercontent.com/louvainlinux/atelier-git/master/src/main.pdf') Slides octobre 2017]	  

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
