extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Atelier LaTeX'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/latex-banner.jpg' alt='Logo LaTeX')

    h1 #{title}

    p Cours pour initier les débutants au logiciel de composition de document libre LaTeX.  Ce 		cours ne nécessite pas aucunes préparations particulières avant de venir à la scéance 		car les exercices se feront en ligne.  

    p Le prochain atelier-latex aura lieu le #[strong jeudi 05 octobre 2017 de 19h à 21h au 		CANDIX et DAO].  
    
    p Pour vous inscrire cliquez sur le lien suivant :  #[a(href='https://framaforms.org/atelier-latex-q1-2017-1506003355') Formulaire d'inscription].
    p #[strong Attention le nombre de places disponible pour cette scéance est limité à 100 places !]
    
    P Pour télécharger le PDF utilisé durant la scéance cliquez ici : #[a(href='') Lien en construction]	  

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
