extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Atelier Git'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/git-banner.jpg' alt='Git')

    h1 #{title}

    p #[a(href="https://fr.wikipedia.org/wiki/Git") Git] est un outil de collaboration. Il a pour objectif de faciliter la collaboration sur des projets tout comme Google Drive. Mais celui-ci propose des options plus avancées qu’un simple système de partage de fichier. Comme, un système de gestion de version permettant de revenir à des versions antérieures si des parties du projet ont été perdues. Ou encore une flexibilité par rapport au type de fichier échangé. Sans oublier que Git permet de travailler dans son environnement local et donc d’éditer avec les outils présent sur votre ordinateur.

    p Git est donc un outil de partage puissant disponible sur toutes les plateformes telle-que Windows, Mac-Os et Linux.

    p Comme certain pourrait se le demander, il n’est pas obligatoire de savoir manipuler le terminal. En effet, grâce à différent environnement graphique (Libre ou non) crée par la communauté, il est possible d’utiliser Git via une application. Comme nous le faisons lors de notre atelier avec #[a(href="https://desktop.github.com/") GitHub Desktop].

    p Habituellement, l’atelier est organisé une fois par quadrimestre universitaire (en général en S4): début octobre et fin février.

    p Information pratiques:

        ul
            li L’atelier est organisé dans les salles informatiques de l’UCL, vous pouvez donc utiliser les ordinateurs de ces salles si vous possédez un identifiant UCL. Dans le cas contraire, veuillez amener un ordinateur.  Si jamais vous ne pouvez #[strong vraiment pas] apporter d'ordinateurs, contactez-nous directement, nous trouverons une solution.
            li La participation est gratuite, mais pour des questions d’organisation l’inscription est obligatoire (vous pouvez vous désinscrire à tout moment en nous envoyant un mail). Un lien vers le formulaire d’inscription sera publié sur cette page deux ou trois semaines avant le prochain atelier.
            li Les dates des ateliers sont annoncées en général trois semaines avant l’activité.
    //p Le prochain atelier aura lieu le jeudi 11 octobre 2018

    //p #[a(href='https://framaforms.org/atelier-git-q1-20182019-1538061644') Formulaire d’inscription].

    p Si vous voulez apprendre Git et que vous ne souhaitez pas attendre le prochain atelier, vous pouvez suivre des tutoriels ou lire des ibooks sur le web, comme #[a(href="https://git-scm.com/book/en/v2") celui-ci] en ligne de commande, ou #[a(href="https://programminghistorian.org/lessons/getting-started-with-github-desktop") celui-ci] pour GitHub Desktop. En général, énormément de ressources sur Git sont disponibles en ligne, et si jamais vous avez une question ou un problème particulier, n’hésitez pas à passer à une de nos #[a(href="/permanences") permanences informatiques].

    p Télécharger les slides utilisés durant la séance : #[a(href='https://github.com/louvainlinux/atelier-git/raw/devel/src/build_latex/main.pdf') Slides]


  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
