extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Atelier LaTeX'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/latex-banner.jpg' alt='Logo LaTeX')

    h1 #{title}

    p Cours pour initier les débutants au logiciel de composition de document libre LaTeX.  Il ne nécessite pas aucunes préparations particulières avant de venir à la scéance, car tous les exercices se feront en ligne.  De plus il n'est pas non plus nécessaire d'apporter un ordinateur personnel du moment que vous posséder un identifiant UCL car les salles que nous utilisons possèdent en possède en suffisance !  

    p Le prochain atelier aura lieu l' #[strong année prochaine durant le premier quadrimestre]. 
    
    p
        | L'inscription est obligatoire, pour des questions d'organisation
        | (c'est 100% gratuit, et vous pouvez vous désinscrire à tout moment en
        | nous envoyant un mail).  
        | #[a(href='https://framaforms.org/atelier-latex-q2-20172018-1518550192') Formulaire d'inscription].

    p #[strong Attention le nombre de places disponible pour cette scéance est limité à 100 places !]
    
    P Télécharger les slides utilisés durant la scéance : #[a(href='http://louvainlinux.github.io/atelier-latex/src/build_latex/main.pdf') Slides]

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
