extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Dates Importantes'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    h1 #{title}

    p Voici un petit résumé des dates importantes de ce quadrimestre :

      ul
        // li #[strong L'Install Party le 13 février de 13h00 à 20h00]
        // li #[strong L'Atelier Latex le 20 février de 19h00 à 21h00]
        // li #[strong L'Atelier Git le 22 octobre de 19h00 à 21h00]
        
  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('projet')
