extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Dates Importantes'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/geekparty2017.jpg' alt='Geekparty')

    h1 #{title}

    p Voici un petit résumé des dates importantes de ce quadrimestre :

      ul
        li #[strong L'Install Party le 26 septembre de 13h00 à 20h00]
        li #[strong L'Atelier Latex le 03 octobre de 19h00 à 21h00]
        li #[strong L'Atelier Git le 11 octobre de 19h00 à 21h00]
        li #[strong La Game-Jam le 01 novembre]
        li #[strong La GeekParty le 08 novembre]
        li #[strong L'Atelier Gimp le 14 novembre]
		
        
  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('projet')
