extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Foire aux questions'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/tuxint.png' alt='Tuxfaq')

    h1 #{title}
    
    p Vous trouverez ici la réponse aux questions qui nous sont le plus souvent posées.  Si jamais vous ne trouvez pas de réponses à vos questions dans cette rubrique n'hésitez pas à nous contacter directement.

    h2 Qu'est ce que le libre ?

    p Le libre est un concept centré autour de quatre valeurs :

      ul
        li l’utilisation sans restriction : permettre au gens d’utiliser ses créations sans forcément avoir de contrôle dessus (pas de licence d’exploitation par exemple)
        li la distribution des méthode de fabrication : il s’agit de fournir le code source, la méthode de fabrication, expliquer comment l’objet a été créé.
        li la possibilité de redistribution : il s’agit de permettre au gens de redistribuer ce que l’on a créé (toujours en citant l’auteur original évidemment). Par exemple dans le cas d’une invention, permettre à tout le monde de la recréer sans forcément devoir demander la permission.
        li la possibilité de modification : cette fois-ci, il s’agit également de permettre aux gens d’améliorer et de créer autre chose sur base de l’objet libre.
        
    p Il s’agit d’un concept qui est souvent appliqué aux logiciels (il existe des logiciels libres sont très connus, tels que Firefox, VLC ou Android), mais également appliqué à beaucoup d’autres choses, telles que les recettes de cuisine, tout ce qui est dans le domaine public (art de + de 70 ans par exemple), ainsi que certains jeux de société (Cards Against Humanity) et d’autres domaines divers et variés.

    h2 Libre, open-source, gratuit, quelle est la différence ?

    p Il faut bien faire la différence entre tous ces termes, car ils sont souvent utilisés comme synonymes, alors qu’ils ne le sont pas du tout.

      ul
        li Quelque chose qui est gratuit n’est pas forcément open-source ou libre. Cela signifie juste que vous pouvez l’utilisez sans payer, mais vous n’avez aucun accès à la méthode de fabrication et vous ne pouvez pas forcément modifier l’objet. Par exemple, Skype est gratuit, mais vous ne pouvez pas voir son code source ni le modifier.
        li Quelque chose d’open-source n’est pas forcément libre. En effet, l’auteur d’un projet open-source peut mettre des licences empêchant son utilisation dans certaines conditions ou la modification de son code, ce qui le rend non-libre. Exemple, le roquefort a sa recette de fabrication disponible, mais pour en faire, il faut la suivre exactement (appellation controlée)
        li Quelque chose de libre est, par contre, forcément open-source, c’est l’une des conditions pour être libre (voir questions au-dessus). Exemple : Firefox, VLC, Android

    p En résumé, un projet libre est open source, mais un projet open source n’est pas forcément libre.

    h2 En quoi le libre influence ma vie de tous les jours?

    p Le libre a une influence bien plus importante que ce qu’on ne le pense, que ce soit en utilisation directe ou indirecte.

    p En effet, nombre de personnes utilisent des logiciels libres (Firefox, VLC, Linux, Android sur votre smartphone), utilisent des recettes de cuisine ou jouent de la musique libre (presque toute la musique classique est libre). Mais le libre influence également de manière indirecte : certains projets commerciaux sont basé sur un projet libre, comme par exemple Google Chrome, qui utilise Chromium, un navigateur libre et open-source, que Google a utilisé tout en rajoutant des fonctionnalités à Google Chrome.

    p Donc, même sans le savoir, le libre influence votre vie quotidienne !

    h2 Et que fait votre kot?

    p Nous nous occupons de la promotion du libre sous tous ses aspects.

    p Cela passe par différentes activités, telles que :

      ul
        li le mois du libre (aussi appelé “il est libre mars”), un mois (mars) durant lequel nous présentons le libre sous les aspects ludiques, musicaux et écologiques ;
        li l’install party, une activité où nous installons Linux (un système d’exploitation libre) sur vos ordinateurs ;
        li l’atelier Latex, une initiation à un moyen libre de produire des rapport professionnels, très utilisé dans le monde scientifique ;
        li l’install party, une activité où nous installons Linux (un système d’exploitation libre) sur vos ordinateurs ;
        li la Geek Party, une activité “détente”, où l'on montre des jeux libres, le fonctionnement de jeux propriétaires sur Linux, et d’autres activités sympa
        li nos permanences du lundi, où les gens viennent à notre kot pour discuter du libre, et nous les aidons à résoudre leurs problèmes basés sur des logiciels libres, et s'ils ont un autre problème ou question, nous les aidons dans la mesure de nos capacités.

    h2 J’ai un bobo avec mon windows, on m’a dit de venir chez vous...

    p Nous pouvons regarder, dans la limites de nos connaissances, aux divers problèmes de vos ordinateurs durant nos permanences. Néanmoins, nous donnerons toujours la priorité aux logiciels libres.  Nous ne faisons des réparations que si nous avons le temps de le faire, et nous ne faisons plus d'antivirus car, malheureusement, il y a eu beaucoup trop d’abus et de gens nous prenant pour un service informatique gratuit.

    p Par contre, si vous êtes près à essayer des équivalents libres à vos logiciels, nous seront très heureux de vous aider à les installer et à vous familiariser avec eux, mais nous évitons de faire des “réparations” de Windows ou de hardware.

    p Nos permanences se déroulent le lundi de 18:30 à 22:00 à notre kot. Vous pouvez venir à ce moment-là poser vos questions sur le libre. N'arrivez pas plus tôt que 18:30, il se pourrait qu’il n’y ait personne pour vous ouvrir.

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('projet')
