extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Fiches-Info'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content

    h1 #{title}

    p Nous vous proposons ci-dessus un ensemble de fiches rassemblant des informations sur divers sujets en rapport avec le projet de notre kot.  Pour n'en citer que quelques une, vous trouverez des fiches présentant des alternatives libres pour de nombreux logiciels permettant entre autre de : travailler efficacement en groupe, faire de la correction orthographique, éditer des textes de façon professionnel, ...

    p Les liens ci-dessous vus permettent de télécharger les diverses fiches :
    ul
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/1-Linux_et_logiciels_libres.pdf') Fiche-Info :  Linux et les logiciels libres (1)]	
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/2-Les_logiciels_libres.pdf') Fiche-Info : Les logiciels libres (2)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/3-Collaboration_projets_libres.pdf') Fiche-Info : Le travail collaboratif (3)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/4-Faire_de_largent_avec_le_libre.pdf') Fiche-Info : Faire de l'argent avec le libre (4)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/5-Au_dela_des_logiciels.pdf') Fiche-Info : Au delà des logiciels (5)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/6-LaTeX.pdf') Fiche-Info : Latex (6)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/7-Open_Source_Hardware.pdf') Fiche-Info : Open Source hardware (7)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/8-Obsolescence_Programee.pdf') Fiche-Info : Obsolescence programmée (8)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/9-Correcteur_Orthographique.pdf') Fiche-Info : Correcteur orthographique libre (9)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/10-Libre_et_droits_dauteur.pdf') Fiche-Info : Libre et droits d'auteur (10)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/11-Libre.pdf') Fiche-Info : Libre (11)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/12-Art-libre.pdf') Fiche-Info : L'art libre (12)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/13-Remuneration.pdf') Fiche-Info : Rémunération (13)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/14-Linux.pdf') Fiche-Info : Linux (14)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/15-Neutralite_du_net.pdf') Fiche-Info : Neutralité du net (15)]
        li #[a(href='https://github.com/louvainlinux/fiches-info/raw/master/16-Wikipedia.pdf') Fiche-Info : Wikipédia (16)]
  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('projet')
