extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Titre'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='http://via.placeholder.com/940x400' alt='Image optionnelle')

    h1 #{title}

    p Site en construction

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
