extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Game-Jam'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/gameJam2020.png' alt='Game-Jam')

    h1 #{title}

    p Vous avez toujours rêvé de créer un vrai programme de taille et pas des simples "Hello World"? Vous vous demandez comment contribuer à un projet libre ? Que vous soyez déjà un expert en développement de jeux ou un simple amateur de programmation, la Game Jam est la meilleure occasion de mettre en exergue votre créativité et votre talent informatique.

    p Le concept: 24 heures pour créer un jeu par groupe en Python. Votre jeu sera jugé sur plusieurs critères, et l'équipe gagnante repart avec une récompense (des micro-ordinateurs semblables à une Raspberry Pi)!
    
    //- p #[Strong Informations pratiques :]
    
      //-    ul
      //-      li La Game-Jam a lieu en S7, elle commence le samedi 21 mars à 11:00 et se termine le dimanche 22 mars à 14:00. Elle se déroule aux salles informatiques de l'UCLouvain.
      //-      li Un repas payant peut être proposé pour ceux qui le souhaitent.
      //-      li Afin de coter les jeux sur une base commune, vous devez utiliser python pour créer votre jeu. De nombreux modules existent pour créer des jeux facilement: Pygame, pyglet ou encore Panda3D si vous vous chauffez vraiment!
      //-      li Par soucis d’organisation, chaque participant devra créer un compte sur Github si ce n’est pas déjà fait. Il est plus simple pour nous si vous venez avec votre ordinateur portable, avec Atom, Python 3 et le module python de votre choix installés.
      //-      li La participation est gratuite, mais nous limitons le nombre d’inscriptions afin de préserver la qualité de l’activité. #[a(href='https://framaforms.org/inscription-game-jam-20-2020-1582832279') Formulaire d'inscription]

    p #[Strong Malheureusement la Game Jam de cette année a été postposée indéfiniment pour des raisons sanitaires :( ]

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
