extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'GeekParty'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/geekparty-940px.jpg' alt='GeekParty Banner 2017-2018')

    h1 #{title}

    p Comme chaque année, nous sommes fier de vous proposer cette soirée à thème portant sur l'univers geek, qui sera organisée en partenariat avec le "Kot du Grenier".  Au programme pour cette fois : Une série de LAN(Local Access Network : partie multijoueur sans utilise internet) dans notre commu, sur plusieurs jeux mythiques tels que Age of Empire 2, Age of Mythology, ou Alien Arena (pour les joueurs de FPS).  De plus, nous avons aussi tout un ensemble de jeux de sociétés qui s'organiseront un peu partout dans notre Kot, ainsi qu'une Wii posséfant un ensemble de jeu dont les grands classiques que sont Just Dance et Mario Kart !  Si jamais vous n'êtes pas trop jeux, et que vous préférer juste vous poser pour regarder une série, nous organisons des projections de différentes séries (Rick et Mortis pour n'en citer qu'une) sur grand écran !	   
    
    p De son côté, le "Kot du Grenier" vous propose de vous initier aux jeux de rôle sur table au travers de plusieurs parties d'une durée moyenne de 30 minutes.     
    
    p Pour les plus gourmands d'entre vous (ou juste ceux qui auraient une petite fringalle), il y aura des pizzas entièrement faites maison et fraîchement cuîtes disponible sur place !
    
    p Les quelques modalités à savoir pour participer à cette activitée sont les suivantes : 
     ul
        li La participation est #[strong entièrement gratuite], et tout l'équipement sera mis sur place à votre disposition !
        li La pizza sera disponible à un prix plus que démocratique !
        li Pas besoin d'être un expert en jeux pour participer, il n'y a pas de compétitions de prévues, juste du fun à gogo !
        li Si vous avez encore des questions, n'hésitez pas à nous contacter via notre page facebook ou notre adresse mail !
        
    p Sur ce, nous vous attendons nombreux #[strong ce jeudi 08 novembre,  Rue Constantin Meunier 12, 1348 Louvain-la-Neuve]   

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
