extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'GeekParty'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/geekparty-940px.jpg' alt='GeekParty Banner 2017-2018')

    h1 #{title}

    p Comme chaque année, nous sommes fiers de vous proposer cette soirée à thème portant sur l'univers geek, qui sera organisée en partenariat avec le #[strong Kot du Grenier].  Au programme pour cette fois : une série de LAN (Local Access Network : partie multijoueur sans utiliser internet) dans notre commu, sur plusieurs jeux mythiques tels que Age of Empire 2 HD, Age of Mythology, Xonotic (pour les joueurs de FPS) ou Teeworld (pour les adorateurs de Fighting Game).  De plus, nous avons aussi tout un ensemble de jeux de société qui s'organiseront un peu partout dans notre Kot, ainsi qu'une Wii possédant un ensemble de jeu dont le grand classique qu'est Just Dance!  Si jamais vous n'êtes pas trop jeux, et que vous préférez juste vous poser pour regarder une série, nous organisons des projections de différentes séries (Rick et Morty pour n'en citer qu'une) sur grand écran !  
    
    p De son côté, le #[strong Kot du Grenier] vous propose de vous initier aux jeux de rôle sur table au travers de plusieurs parties rapides.  Cette année, ils mettront aussi à votre disposition une escape-room, et une chambre proposant un ensemble de jeux vidéos récents.
    
    p Pour les plus gourmands d'entre vous (ou juste ceux qui auraient une petite fringalle), il y aura des pizzas-baguettes et des hot-dogs mis à disposition !
    
    p Les quelques modalités à savoir pour participer à cette activitée sont les suivantes : 
     ul
        li La participation est #[strong entièrement gratuite], et tout l'équipement sera mis sur place à votre disposition !
        li Des pizzas-baguettes et des hot-dogs seront disponibles à un prix plus que démocratique !
        li Pas besoin d'être un expert en jeux pour participer, il n'y a pas de compétitions de prévues, juste du fun à gogo !
        li Si vous avez encore des questions, n'hésitez pas à nous contacter via notre page facebook ou notre adresse mail !
        
    //- p Sur ce, nous vous attendons nombreux #[strong ce jeudi 08 novembre,  Rue Constantin Meunier 12, 1348 Louvain-la-Neuve]   

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
