extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Install Party'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/ubuntu-logo.jpg' alt='Ubuntu')

    h1 #{title}

    p Une fois par quadri, nous vous proposons, pendant tout un après-midi de venir avec votre ordinateur pour vous installer Ubuntu (une distribution Linux) dans une ambiance conviviale.

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
