extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Install Party'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/install-party-banner.jpg' alt='Ubuntu')

    h1 #{title}
	
    p Une fois par quadri, nous vous proposons, pendant tout une après-midi de venir avec votre ordinateur pour vous installer Ubuntu (une distribution Linux) dans une ambiance conviviale.
    p La prochaine install party aura lieu en #[strong 13 février 2020].

    p Pour plus de détails aller voir l'événement facebook de #[a(href='https://www.facebook.com/events/271623890482654/') l'Install Party].    

    h2 Infos utiles

    p L'installation dure 30-45 minutes; plus s'il y a des problèmes. Prévois le temps !

    p Ps: pour gagner du temps, pense à :
    ul
        li prendre ton chargeur
        li librer un minimum de 50Go d'espace disque
        li si tu est sous Windows 7, défragmente : #[a(href='https://support.microsoft.com/fr-be/help/17126/windows-7-improve-performance-defragmenting-hard-disk') comment faire].
        li si tu est sous Mac OS, désactive fileVault : #[a(href='https://support.apple.com/kb/PH18674?locale=en_US&viewlocale=fr_FR') comment faire].
        li si tu est sous Mac OS, mets à jour à la dernière version de Mac OS.

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
