extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Locations informatique'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='http://via.placeholder.com/940x400' alt='Image optionnelle')

    h1 #{title}

    p Ici vous pouvez trouvez la liste du matériel que nous possèdons.  Nous vous le louons pour un prix dérisoir, dans l'ordre de deux euros par jour dans le cas des ordinateurs.  Nous ne pouvons pas être plus précis dans les prix car nous les adaptons au cas par cas.  N'hésité pas à nous contacter pour obtenir de plus amples informations aux sujets des équipements mis ci-dessous, et obtenir le prix de la location !
    p Ci-dessous, vous pourrez retrouver la liste du matériel en notre possession :
    ul
        li Des filtres pour micro	
        li Un multiplicateurs de Jack
        li 4 casques audio
        li 3 cables de micro
        li Une rallonge Jack
        li 3 demi pieds pour micro
        li 3 micro podcast avec accessoires
        li Un micro chant avec adaptateur
        li 50 DVD inscriptible
        li Un Raspberry Pi (micro-ordinateur)
        li Un lecteur de disque externe
        li Un switch 16 ports
        li Des câbles ethernets (30 mètres + 50 têtes)
        li Un disque dur externe WD 1TO (HDD002)
        li Des Sun Keyboard * 16 (KEY001 à KEY016)
        li Un Fujitsu Siemens Keyboard (KEY017)
        li Un Alchemy Elixir Keyboard (KEY018)
        li Un SUN USB Keyboard (KEY019)
        li Un Logitech USB Keyboard (KEY020)
        li Un clavier Apple Bluetooth (KEY021)
        li Une imprimante zebra étiquette (PRT001)
        li 2 imprimante Laser HP (PRT002 et PRT003)
        li 15 écran d'ordinateur (SCR001 à SCR015)
        li 14 clé USB maxwell (4 Gb)
        li Un Weizu tools (set de tournevis multi-fonction de précision)
        li Un routeur TP-link
        li Un Microphone multimedia trust
        li Un Switch KVM
        li Un Module SMS
        li 53 Mini tours Lenovo
        li 6 PC (tours)
        li 7 PC portables Lenovo
        li 7 multiprises
        li 14 clés USB verbatim6 PC (tours)

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('services')
