extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Locations informatique'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/matos-banner.png' alt='Matos Banner')

    h1 #{title}

    p Ici vous pouvez trouvez la liste du matériel que nous possèdons.  Nous vous le louons pour un prix dérisoir, dans l'ordre de deux euros par jour dans le cas des ordinateurs.  Nous ne pouvons pas être plus précis dans les prix car nous les adaptons au cas par cas.  N'hésité pas à nous contacter pour obtenir de plus amples informations aux sujets des équipements mis ci-dessous, et obtenir le prix de la location !
    p Ci-dessous, vous pourrez retrouver la liste du matériel en notre possession :
    ul
        li Des Micros de divers types + des filtres	
        li De la connectique audio
        li Un lecteur de disque externe
        li Des claviers USB pour ordinateurs. 
        li Des écrans d'ordinateurs.
        li Connectiques réseaux (ethernet) : des switchs, des câbles et un routeur
        li Un Module SMS
        li Des PC portables et des tours.
        li Divers connectiques et adaptateurs de connection pour pc;

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('services')
