extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Membres du KAP'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/geekparty2017.jpg' alt='Geekparty')

    h1 #{title}

    p Cette année l'équipe du Louvain-li-Nux est fière de compter 11 membres (9 internes et 2 externes):

    p Les internes :

      ul
        li Axel Struys
        li Adrien Couplet
        li Morgan Leclerc
        li Alexandre Fiset
        li Noé Tihon
        li Louis Arys
        li Florence Blondiaux
        li Laurent Ziegler 
        // de Ziegleck auf Rheingrub
        li Mathieu Parmentier

    p Les externes :

      ul
        li Loïc Van der Wielen
        li Martin Vandenbussche
        
  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('projet')
