extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Membres du KAP'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/photocrop201920.jpg' alt='Geekparty')

    h1 #{title}

    p Cette année l'équipe du Louvain-li-Nux est fière de compter 13 membres (9 internes et 4 externes):

    p Les internes :
      
      ul
        li Arno Pigeon
        li Morgane Leclerc
        li Leon Winter
        li Raphaël Antoine
        li Théo Vanden Driessche
        li Adrien Giot
        li Florent Dardenne
        li Laurane Castiaux
        li Guillaume van der Rest
    p Les externes :

      ul
        li Loïc Van der Wielen
        li Lugovine Louchez   
        li Félix Gaudin
        li Louis Arys

        
  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('projet')
