extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Visite du musée de l\'informatique NAM-IP'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Visite du Musée NAM-IP')

block content
  section.main__content
    img.img-responsive(src='/uploads/namip-940px.png' alt='Visite du Musée NAM-IP')

    h1 #{title}
    
    //p #[strong Cette activitée aura lieu de Mercredi 25 avril de 18 à 20h]
    p Le Louvain-li-Nux t'emmène à une visite guidée de NAM-IP, le musée de l'informatique pionnière belge à Namur. Si tu es intéressé(e) d'histoire, d'informatique et/ou de technologie, cette visite est faite pour toi !
    p Le musée est entièrement dédié à l'histoire de l'informatique, depuis les temps anciens, en passant par les traitements en cartes perforées, les ordinateurs grands et petits, pour aboutir aux tablettes et téléphones intelligents et laisser entrevoir le futur. En plus d'une visite guidée, nous aurons l'occasion de voir certaines de ces anciennes machines en fonctionnement.
    p #[strong Note] : la salle d'exposition est accessible aux personnes à mobilité réduite :)

    h4 Informations pratiques
    
    p    
        ul
          //li Inscription obligatoire : #[a(href='https://framaforms.org/visite-nam-ip-louvain-li-nux-1521419977') Formulaire d'inscription]
            li durée de la visite : 2h (de 18 à 20h)
            li PAF : 8€
            ul
                li Sur notre compte (#[strong BE03 0017 1440 5884]) avec en communication "Nam-IP - NOM PRENOM, nombre de places" 
                li En liquide, en passant à notre kot (#[strong 12 Rue Constantin Meunier]), sur un temps de midi ou après 18h
    
        p #[strong Attention] : l'inscription ne sera validée qu'une fois le payement reçu. Les places sont limitées, donc dépèche-toi ;-)
    
    h4 Rendez-vous 
    
    p    
        ul
            li #[strong A Louvain-la-Neuve] : 16h45 à notre kot (12 rue Constantin Meunier)
            li #[strong A Namur] : 17h45 au musée (192A Rue Henri Blès, Namur)
    
    
  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
