extends ../layouts/default.pug

block variables
  - var title = 'Nous contacter'

block append meta
  meta(name='description', content='TODO')

block content
  h1 #{title}

  div.contact
    p N'hésitez pas à nous envoyer un email à l'addresse #[a(href='mailto:info@louvainlinux.org', title='Notre email') info@louvainlinux.org].

    p Les informations sur nos évènements sont aussi disponibles sur notre #[a(href='https://www.facebook.com/LouvainliNuxKap/', title='page facebook') page facebook].

  .divider

  .openstreetmap
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=4.611755311489106%2C50.66400423352109%2C4.6126940846443185%2C50.66551905479703&amp;layer=mapnik&amp;marker=50.664760800199744%2C4.612224698066711" style="border: 0"></iframe>
