extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
    - var title = 'Permanences informatique'

//- Set specific page's metas like description, keyword, ...
block append meta
    meta(name='description', content='Description de la page')

block content
    section.main__content
        img.img-responsive(src='/uploads/ubuntu-logo.jpg' alt='Ubuntu')

        h1 #{title}
        p Vous rencontrez un problème avec votre ordinateur alors que vous utilisez Ubuntu ou une autre distribution GNU/Linux ? Vous souhaitez utiliser un système alternatif à Windows ou Mac OS ? Rendez-vous chez nous lors de nos permanences pour obtenir gratuitement de l’aide !
        p Les permanences ont lieu chaque lundi entre 18h30 et 22h00, durant les semaines de cours. Apportez simplement votre machine et expliquez-nous votre problème. Nous vous assisterons et le réglerons dans les limites de nos connaissances. Si nous ne parvenons pas à vous aider, nous vous conseillerons sur la meilleure façon de résoudre votre problème après l’avoir identifié.
        p
           ul 
               li Lieu : Auditoires Sud 17 (#[a(href='/nous-contacter') carte])
               li Quand : chaque lundi entre 18h30 et 21h30, durant les semaines de cours.
               li Quoi : Assistance informatique et conseils en logiciels et solutions libres.
               li Circonstances particulières : Les règles relatives à la situation sanitaire en vigueur sont évidemment d'application - masque obligatoire, gel hydroalcoolique disponible à l'entrée.

    //- Include sidebar following the type ('projet', 'activites', 'services')
    +sidebar('services')
