extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Semaine Wikipédia'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content

    h1 #{title}

    p Dans le cadre de l'année thématique "Mondes numériques" de l'UCL, une semaine wikipédia est organisée par l'université. Plusieurs types d'activités sont organisées: Séances à thème, conférence et séances encadrée "libres". Le Louvain-li-Nux participe à l'encadrement de ces séances "libres".
    
    p #[strong  Cette année nous ne savons pas encore si nous participerons à l'événement.]

    //ul Celles-ci se dérouleront :
        //li Lundi 27 novembre 2017 de #[strong 14h00 à 18h00]
        //li Mercredi 29 novembre 2017 de #[strong 16h30 à 20h30]
        //li Jeudi 30 novembre 2017 de #[strong 18h30 à 22h30]

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
