extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Système de vote par SMS'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/sms-voting.png' alt='image des téléphones	')

    h1 #{title}

    p Pour les 24h vélo, le Louvain-li-nux à développé un système de vote par sms.  Grâce à celui-ci, les étudiants peuvent choisir leur vélo folklorique préféré.  Ce système est aussi accessible à tous les autres Kots à projet tout au long de l'année. Il suffit de nous communiquer les choix possibles de votes, et nous activerons le système. De plus, nous avons mis en place un système de page web dynamique qui permets de suivre en temps réel les résultats du vote.  Notre système est protégé contre les votes multiples venant d'un seul numéro (seul le dernier est pris en compte).

    p Si vous souhaitez un système fiable de vote pour vos activités, n'hésitez pas à nous contacter par e-mail ou passer lors de nos permanences informatique.

    p Prix: 7 euros par activité.
  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('services')
