extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Système de vote par SMS'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/sms-voting.png' alt='image des téléphones	')

    h1 #{title}

    p Le Louvain-li-nux à développé un système de vote par SMS. Ce système est accessible à tous les Kots à projet et ASBL. Il suffit de nous communiquer les choix possibles de votes, et nous activerons le système. De plus, nous avons mis en place un système de page web dynamique qui permets de suivre en temps réel les résultats du vote.  Notre système est protégé contre les votes multiples venant d'un seul numéro (seul le dernier est pris en compte).

    p Ce système est notamment utilisé lors du vote pour les vélos folklo des 24h vélo.

    p Si vous souhaitez un système fiable de vote pour vos activités, n'hésitez pas à nous contacter par e-mail ou passer lors de nos permanences informatique.

    p PAF: à discuter, typiquement moins de 10 €.
  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('services')
