extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Système de vote par SMS'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='http://via.placeholder.com/940x400' alt='Image optionnelle')

    h1 #{title}

    p Vous avez toujours voulu avoir un système de votes simple utilisant des sms pour permettre aux participants de votre activité de voter facilement ? Hé bien nous en avons un, tout frais pondu de cette année, qui a fait ces preuves durant les 24h00 vélos !  Ce système totalement automatisé vous permettra, moyennant l'envoi d'un sms à un numéro bien spécifique, de ressortir le pourcentage et le nombre de vote pour chaque choix.  
    p Cependant, il y a quelques informations à connaître à propos de ce système :
    ul
        li Au niveau des message	
        li Un multiplicateurs de Jack
        li 4 casques audio
        li 3 cables de micro
        li Une rallonge Jack

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('services')
